@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(24, 24, 27, 0.4);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 42);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 82, 91);
  }
}